<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
    
    
    <h1 class="titulo"> <%= product.name %> </h1>
    <h2 class="descripcion"> <%= product.description %> </h2>
    
    <dl class="medios-pagos">
        <dt class="precio1"> $<%= product.oldPrice %> </dt>
        <dt class="cuotas"> <%= product.discount %> %OFF! </dt>
        <dt class="precio"> $<%= product.newPrice %> </dt>
    </dl>
    <article class="medios">
    <a href="/" class="m-pagos"><h2>VER MÁS MEDIOS DE PAGOS</h2><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="visa" width="40" height="25"><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="mastercard" width="40" height="25"></a>
    </article> 

    <picture class="imagen">
        <img id="imgCentral" src="<%=product.image%>"/>
    </picture>

    <section class="resenia-producto"> <%= product.resenia %> </section>

    <section>
        <a href="/carrito" class="agregar">
            <button type="submit" class="botonAgregar">AGREGAR AL CARRITO<i class="fa fa-shopping-cart"></i></button>
        </a>
    </section>

    <section>
        <a href="/" class="agregar">
            <button type="submit" class="botonAgregar">VER PRODUCTOS RELACIONADOS<i class="fa-solid fa-eye"></i></button>
        </a>
    </section>

    <%- include('../partials/footer.ejs') %>
</body>
</html>