<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
    
    
    <h1 class="titulo"> <%= product.name %> </h1>
    <h2 class="descripcion"> <%= product.description %> </h2>
    
    <dl class="medios-pagos">
        <dt class="precio1"> $<%= product.price %> </dt>
        <dt class="cuotas"> <%= product.discount %> %OFF! </dt>
    </dl>
    <article class="medios">
    <a href="/" class="m-pagos"><h2>VER MÁS MEDIOS DE PAGOS</h2><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="visa" width="40" height="25"><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="mastercard" width="40" height="25"></a>
    </article> 

    <picture class="imagen">
        <img id="imgCentral" src="/products/<%=product.image.url%>"/>
    </picture>

    <section class="resenia-producto"> <%= product.review %> </section>

    
    <section>
        <% if (user == null) { %>
        <a href="/users/register" class="agregar">
            <button type="submit" class="botonAgregar">AGREGAR AL CARRITO<i class="fa fa-shopping-cart"></i></button>
        </a>
    </section>
    <section>
        <a href="/" class="agregar">
            <button type="submit" class="botonAgregar">VER PRODUCTOS RELACIONADOS<i class="fa-solid fa-eye"></i></button>
        </a>
    </section>

    <section>
        <% } else if (user != null && user.admin) { %>
        <a href="/products/edit/<%= product.id %>" class="agregar">
            <button type="submit" class="botonAgregar"> EDITAR PRODUCTO</i></button>
        </a>
    </section>
    <form action="/products/delete/<%- product.id %>?m=DELETE" method="post" class="agregar">
        <script>
            // Confirmacion del boton para borrar productos
            function confirmAction() {
              let confirmAction = confirm("Está seguro que quiere eliminar el producto?");
              if (confirmAction) {
                alert("Eliminado Correctamente!");
              } else {
                event.preventDefault();
              }
            }
          </script>
            <button type="submit" class="botonAgregar" id="delete" onclick="confirmAction()"> BORRAR PRODUCTO</i></button>
     </form>
    </section>
    <% } else { %>
        <a href="/carrito" class="agregar">
            <button type="submit" class="botonAgregar">AGREGAR AL CARRITO<i class="fa fa-shopping-cart"></i></button>
        </a>
    </section>
    <section>
        <a href="/" class="agregar">
            <button type="submit" class="botonAgregar">VER PRODUCTOS RELACIONADOS<i class="fa-solid fa-eye"></i></button>
        </a>
    </section>
        <% } %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>