<%- include('../partials/head.ejs') %> 
<body>
    <main>
    <%- include('../partials/header.ejs') %>
    <h2 class="destacados"> <%- locals.title ? title : null %>  </h2>
    <div class="linea"></div>
    <form action="/products/edit/<%- product.id %>?m=PUT" method="post" class='formulario'>
        <figure>
            <img id="imgCentral" src="/products/<%= product.image.url %>" class="productoImg">
        </figure>
        <label for="name">
            <input type="text" id="name" name="name" minlength="3" maxlength="25" placeholder="<%= product.name %>" class="control" value="<%= product.name %>">
        </label>
        <label for="price">
            <input type="number" id="price" name="price" min="0" placeholder=" $ <%= product.price %>" class="control" value="<%= product.price %>">
        </label>
        <label for="discount" >
            <input type="number" id="discount" name="discount" min="0" max="100" placeholder=" % <%= product.discount %>" class="control" value="<%= product.discount %>">
        </label>
        
        <label for="category">
            <select id="category" name="category" class="control">
                <option value="1" <%= product.category == 1 ? 'selected' : null  %> >Vinos</option>
                <option value="2" <%= product.category == 2 ? 'selected' : null  %> >Espumantes</option>
                <option value="3" <%= product.category == 3 ? 'selected' : null  %> >Destilados</option>
                <option value="4" <%= product.category == 4 ? 'selected' : null  %> >Whiskys</option>
                <option value="5" <%= product.category == 5 ? 'selected' : null  %> >Accesorios</option>
            </select>
        </label>
        <fieldset ><textarea id="description" name="description" rows="4" cols="30" placeholder="<%=product.description%>" value="<%=product.description%>"></textarea></fieldset>
            <fieldset ><textarea id="review" name="review" rows="4" cols="30" placeholder="<%=product.review%>" value="<%=product.review%>"></textarea></fieldset>
        <fieldset><button type="submit">Enviar</button></fieldset>

    </form>
</main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>