    <head><%- include('../partials/head.ejs') %> </head>
<body>
    <header><%- include('../partials/header.ejs') %></header>
<main>
    <h1>Lista de productos</h1>
    <% if (locals.products) { %>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(product => { %>
                    <li>
                    <a href="/products/<%= product.id %>">
                        
                            <article class="producto">
                                <% if (product.image) { %>
                                <img src="/uploads/products/<% product.image.url %>" alt="Imagen del producto">
                                <% } %>
                                <span><%= product.name %>Nombre Producto</span>
                                <span><%= product.description %> Descripcion</span>
                                <span><%= product.discount %>Descuento</span>
                                <span><%= product.oldPrice %>Precio Viejo</span>
                                <span><%= product.newPrice %>Precio Nuevo</span>

                                <form action= "/products/?m=DELETE" method="post">
                                <input type="hidden" name="id" value="<%= product.id %>">
                                <button type="submit"><i class="fa fa-trash"></i></button>
                                </form>
                            </article>
                        </a>
                    </li> 
                <% }) %>
            </ul>
         <% } else { %>
            <h2>No se encontraron productos</h2>
            <% } %>
        <% } else { %>
            <h2>No se encontraron productos</h2>
        <% } %>
</main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>