<%- include('./partials/head.ejs') %> 
<body>
<%- include('./partials/header.ejs') %>

<main>
    <picture class="carrousel">
        <img class="imagen-ofertas" src="/images/mwines6.png" alt="Carrousel de ofertas">
        
    </picture>


    <section id="main-top">

        <h1>Lista de productos</h1>
    <% if (locals.products) { %>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(product => { %>
                    <section class="productOrden">
                    <a href="/products/<%= product.id %>">
                        
                            <article class="producto">
                                <% if (product.image) { %>
                                    <img src="<%= product.image %>" alt="Imagen del producto" class="img-product">
                                <% } %>
                                <Section class="texto">
                                    <h3 class="nombre-producto"><%= product.name %></h3>
                                    <p class="descrip-producto"><%= product.description %></p>
                                    <p class="descuento">% <%= product.discount %></p>
                                    <p class="precio-ant">$ <%= product.oldPrice %></p>
                                    <p class="precio-nuevo">$ <%= product.newPrice %></p>
                                </Section>
                                <form action= "/products/?m=DELETE" method="post">
                                <input type="hidden" name="id" value="<%= product.id %>">
                                <button type="submit"><i class="fa fa-trash"></i></button>
                                </form>
                            </article>
                    </a>
                    </section>
                <% }) %>
            </ul>
         <% } else { %>
            <h2>No se encontraron productos</h2>
            <% } %>
        <% } else { %>
            <h2>No se encontraron productos</h2>
        <% } %>


    </section> 
       

    <picture class="carrousel">
        <img class="imagen-bodegas" src="/images/jameson-logo.jpg" alt="Carrousel de bodegas">
        
    </picture>

     

    
</main>

<%- include('./partials/footer.ejs') %>
</body>
</html>