<%- include('./partials/head.ejs') %> 
<body>
<%- include('./partials/header.ejs') %>

<main>
    <picture class="carrousel">
        <img class="imagen-ofertas" src="/images/beefeeterlogo.png" alt="Carrousel de ofertas">
        
    </picture>


    <h1>Lista de productos</h1>
    <section id="main-top">

        
    <% if (locals.products) { %>
        <% if (products.length > 0) { %>
                <% products.forEach(product => { %>
                    
                            <article class="producto">
                              <a href="/products/<%= product.id %>" class="caja">  
                                <% if (product.image) { %>
                                    <img src="<%= product.image %>" alt="Imagen del producto" class="img-product">
                                <% } %>
                                <Section class="texto">
                                    <h3 class="nombre-producto"><%= product.name %></h3>
                                    <p class="descrip-producto"><%= product.description %></p>
                                    <p class="descuento">% <%= product.discount %></p>
                                    <p class="precio-ant">$ <%= product.oldPrice %></p>
                                    <p class="precio-nuevo">$ <%= product.newPrice %></p>
                                    
                                </Section>
                                </a>
                            </article>
                    
                <% }) %>
         <% } else { %>
            <h2>No se encontraron productos</h2>
            <% } %>
        <% } else { %>
            <h2>No se encontraron productos</h2>
        <% } %>


    </section> 
       

    <picture class="carrousel">
        <img class="imagen-bodegas" src="/images/jameson-logo.jpg" alt="Carrousel de bodegas">
        
    </picture>
</main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>