<%- include('./partials/head.ejs') %> 
<body>
<%- include('./partials/header.ejs') %>

<main>
    <picture class="carrousel">
        <img class="imagen-ofertas" src="/images/bannerlicores-al-mayor.png" alt="Carrousel de ofertas" width="100%">
        
    </picture>


    <h1 class="bienvenida">¡BIENVENIDO A NUESTRA TIENDA ONLINE!</h1>
	<div class="linea"></div>
    <h2 class="destacados">PRODUCTOS DESTACADOS</h2>
    <div class="linea"></div>
    <section id="main-top">

        
    <% if (locals.products) { %>
        <% if (products.length > 0) { %>
                <% products.forEach(product => { %>
                    
                            <article class="producto">
                              <a href="/products/<%= product.id %>" class="caja">  
                                <% if (product.image) { %>
                                    <img src="<%= product.image %>" alt="Imagen del producto" class="img-product">
                                <% } %>
                                <section class="texto">
                                    <h3 class="nombre-producto"><%= product.name %></h3>
                                    <p class="descrip-producto"><%= product.description %></p>
                                    <p class="descuento"> <%= product.discount %> % OFF</p>
                                    <p class="precio-ant"> $ <%= product.oldPrice %> </p>
                                    <p class="precio-nuevo"> $ <%= product.newPrice %> </p></p>
                                    <p class="descrip-producto">Hasta 24 cuotas <i class="far fa-2x fa-credit-card service-icon"></i></p>
                                    
                                </section>
                                </a>
                            </article>
                    
                <% }) %>
         <% } else { %>
            <h2>No se encontraron productos</h2>
            <% } %>
        <% } else { %>
            <h2>No se encontraron productos</h2>
        <% } %>


    </section> 
       

    <picture class="carrousel2">
        <img class="imagen-bodegas" src="/images/kisspng-jameson.png" alt="Carrousel de bodegas">
        
    </picture>
</main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>