<html>
<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/users/list.css"/>
<%- include("../partials/header") %>
<body>
            <main>
                <h1 class="saludoBienvenida">Usuarios registrados</h1>
                <% if (user !=null && user.admin) { %>
                    <section class="listUsuarios">
                        <% if (locals.users) { %>
                            <% if (users.length> 0) { %>
                                <% users.forEach(user=> { %>
                                    <article>
                                        <div class="datosProfile2" href="/users/profile/<%= user.id %> ">
                                            <% if (user.image) { %>
                                                <img id="imgCentral"src="/avatars/<%= user.image.url %> " alt="photo<%= user.email %> "class="avatar">
                                                <% } %>
                                                <div>
                                                <ul class="listaDatosUsuarios">
                                                        <li><p>Nombre: <%= user.firstName %></p></li>
                                                        <li><p>Apellido: <%= user.lastName %></p></li>
                                                        <li><p>E-mail: <%= user.email %></p></li>
                                                        <li><p>Dirección: <%= user.adress %></p></li>
                                                        <li><p>Teléfono: <%= user.phone %></p></li>
                                                </ul>
                                                </div>
                                            </div>
                                    </article>
                                <% }) %>
                             <% } %>          
                        <% } %>
                       
                    </section>              
                <% } else { %>
                    <section>
                        <h1 class="titulolista1">ACCESO NO AUTORIZADO<i class="fa fa-exclamation-circle" aria-hidden="true"></i></h1>
                        <h1 class="titulolista2">Debes ser administrador para ver la lista de usuarios</h1>
                    </section>
                <% } %>
            </main>

    <%- include("../partials/footer") %>
</body>
</html> 