<%- include('../partials/head.ejs') %> 
<body>
<%- include('../partials/header.ejs') %>
<main>
    <link rel="stylesheet" href="/css/users/profile.css"/>
    <section>
        <h3 class="saludoBienvenida"> ¡Bienvenido a House of Wines <%= user.firstName %>!</h3>
        <% if (user.image) { %>

            <figure>
                <img id="imgCentral"src="/avatars/<%= user.image.url %> " alt="photo<%= user.email %> "class="avatar">
            </figure>
        
        <% }  else { %>
            <figure>
                <img id="imgCentral"src="/avatars/default-avatar.png" alt="avatar generico" class="avatar">
            </figure>
            
         <% } %>

    </section>
    
    <section>
        <article class="datosProfile">
            <h2 class="datosUsuario">Mis datos</h2>
            <br>
            <h3> <i class="fa-solid fa-user"></i> <%= user.firstName %> <%= user.lastName %></h3>
            <br>
            <h3> <i class="footer-icon fa fa-lg fa-fw fa-at"></i> <%= user.email %> </h3>
            <br>
            <h3> <i class="footer-icon fa fa-lg fa-fw fa-phone"></i> <%= user.phone %> </h3>
            <br>
            <h3> <i class="footer-icon fa fa-lg fa-fw fa-map-marker-alt"></i><%= user.adress %></h3>
            <br>
            <br>
            <form action="/users/delete/<%- user.id %>?m=DELETE" method="post">
                <button type="submit" class="boton-formulario" onclick="confirmAction()">ELIMINAR CUENTA</button>
                <script>
                    // Confirmacion del boton para borrar productos
                    function confirmAction() {
                      let confirmAction = confirm("Está seguro que quiere eliminar su cuenta?");
                      if (confirmAction) {
                        alert("Eliminado Correctamente!");
                      } else{
                          event.preventDefault();
                      }
                    }
                  </script>
            </form>
        </article>
    </section>
    
    <section class="editButtonsProfile">
        <article class="datosProfile">
            <% if (user.admin) { %>
            <h2 class="datosUsuario">Editar productos</h2> 
            <a class="boton-formulario" href='/products/create/'> CREAR </a>
            <a class="boton-formulario" href="/">VOLVER</a>
        </article>
        <section>
            <article class="datosProfile">
                <h2 class="datosUsuario">Editar datos</h2> 
                <a class="boton-formulario" href='/users/edit/'>MODIFICAR</a>
                <!-- <form action="/users/delete/<%- user.id %>?m=DELETE" method="post" class="boton-formulario"><button type="submit"> ELIMINAR CUENTA</button></form> -->
                <a class="boton-formulario" href="/">VOLVER</a>
    
            </article>
        </section>

            <% } else { %>
                <section>
                    <article class="datosProfile">
                        <h2 class="datosUsuario">Editar datos</h2> 
                        <a class="boton-formulario" href='/users/edit/'>MODIFICAR</a>
                        <!-- <form action="/users/delete/<%- user.id %>?m=DELETE" method="post" class="formu">
                            <button type="submit" class="boton-formulario" onclick="confirmAction()">ELIMINAR CUENTA</button>
                            <script>
                            // Confirmacion del boton para borrar productos
                            function confirmAction() {
                              let confirmAction = confirm("Está seguro que quiere eliminar su cuenta?");
                              if (confirmAction) {
                                alert("Eliminado Correctamente!");
                              } else{
                                  event.preventDefault();
                              }
                            }
                          </script>
                        </form>  -->

                        <a class="boton-formulario" href="/">VOLVER</a>
            
                    </article>
                </section>
            <% } %>
        
    </section>

</main>

</body>
<%- include('../partials/footer.ejs') %>