<%- include('../partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/header.css"/>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <link rel="stylesheet" href="/css/users/register.css"/>
            <form action="/users/register" method="POST" class="formulario" enctype="multipart/form-data">
                <nav>
                    <a href="#" class="subtitulos">Inicio</a>
                    <span class="divider"> > </span>
                    <a href="/users/login" class="subtitulos">Mi cuenta</a>
                    <span class="divider"> > </span>
                    <a href="/users/register" class="subtitulos">Crear cuenta</a>
                </nav>

                <section>
                    <% if (locals.errors) { %>
                        <% for( let error in errors ) { %>
                            <p>  <%= errors[error].msg %>  </p>
                        <% } %>
                    <% } %>
                </section>
                
                <div class="titulo"><h1> <%- title %>  </h1></div>
                <div class="control-formulario">
                    <input type="text" name="firstName" placeholder="Nombre completo" minlength="3" class="control" required="">
                </div>
                <div class="control-formulario">
                    <input type="text" name="lastName" placeholder="Apellido completo" minlength="3" class="control" required="">
                </div>
                <div class="control-formulario">
                    <input type="date" name="birthdate" placeholder="Fecha de nacimiento" class="control" required="">
                </div>
                <div class="control-formulario">
                    <input type="tel" name="phone" placeholder="Teléfono" class="control" required="">
                </div>
                <div class="control-formulario">
                    <input type="text" name="adress" placeholder="Domicilio" minlength="3" class="control" required="">
                </div>
                <div class="control-formulario">
                    <input type="email" name="email" placeholder="E-mail" class="control" required="">
                </div>
                <div class="control-formulario">
                    <input type="password" name="password" placeholder="Contraseña" class="control" required="">
                </div>
                <div class="control-formulario2">
                    <legend class="">Seleccione su imagen de perfil<legend>
                    <input type="file" name="imagenUsuario">
                </div>
                <br>
                <!-- <div class="control-formulario">
                    <input type="password" name="repetirPass" placeholder="Repetir contraseña" class="control" required="">
                </div> -->
                <button type="submit" class="boton-formulario">CREAR CUENTA</button>
                <div class="subtitulos"><p class="mt-3 text-center">¿Ya tenés una cuenta? <a href="/users/login" class="subtitulos"><b>Iniciá sesión</b></a></p></div>
            </form>
    </main>
    <%- include('../partials/footer.ejs')  %>
</body>
</html>
